*{margin:0;padding:0;}/*여백초기화*/
a{text-decoration: none; color: #333;}/*밑줄,글자색바꾸기*/
ul{list-style: none;}/*블릿없애기*/
body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:16px;
	color:#333;
	line-height: 1.5em;
	min-width: 1320px;
}
/*popup_S*/
#popup_btn{position: fixed; bottom: 50px; right: 50px; z-index: 1;}
.popup{
	width: 350px;
	height: 600px;
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
	position: fixed;
	bottom: 45px;
	right: 45px;
	z-index: 2;
	padding: 25px;
	display: none;
}
.popup_icon{
	height: 30px;
	background-image: url(../images/popup/popup_logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 30px;
	padding-left: 230px;
}
.popup_icon li{
	float: left;
	padding-left: 10px;
	padding-top: 2px;
}
.popup_icon img{
	width: 25px;
}
.popup_notice{
	font-size: 13px;
	line-height: 1.5em;
	padding: 15px 0;
}
.popup_inbox{
	height: 290px;
	width: 300px;
	padding: 20px;
	margin-top: 5px;
	background-color: rgb(255, 255, 255);
	border-radius: 40px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.popup_text{
	background: url(../images/popup/popup_inbox_logo.png) no-repeat left top;
	background-size: 40px;
	padding-bottom: 15px;
	font-size: 13px;
	line-height: 1.5em;
	padding-left: 60px;
}
.popup_text span{
	color: #bbb;
}
.popup_text b{
	font-weight: 500;
}
.popup_inbox_icon{
	text-align: center;
	padding-top: 10px;
}
.popup_inbox_icon a{
	display: inline-block;
}
.popup_send_btn_wrap{
	height: 47px;
	width: 300px;
	text-align: center;
	margin-top: 115px;
}
.popup_send_btn a{
	display: inline-block;
	width: 280px;
	height: 47px;
	padding-top: 11px;
	padding-left: 30px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	border-radius: 100px;
	background: url(../images/popup/popup_send_icon.png) no-repeat left 100px center;
	background-size: 20px;
	background-color: #4cd36b;
}
/*top_S*/
#top{
	position: relative;
}
#header{
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	transition: all 0.5s;
	z-index: 997;
}
#header_scroll{
	width: 1320px;
	height: 70px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -660px;
	padding-top: 10px;
	box-sizing: border-box;
}
#header.header-scrolled {
	background: rgba(255,255, 255, 0.8);
	transition: all 0.5s;
}
.a{
	height: 70px;
	/*
	border-bottom: #eeeeee57 1px solid;
  */
}
.b{
	height: 70px;
	border-bottom: #eeeeee 1px solid;
	display: none;
}
.logo{
	float: left;
	padding-top: 2px;
}
.logo img{
	width: 90%;
}
#util{
	float: right;
	padding-top: 14px;
}
#util li{
	float: left;
	padding-left: 6px;
}
#util li a{
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #fffce4;
}
.b #util li a{
	display: block;
	font-size: 15px;
	font-weight: 500;
	color: #757575;
}
#util li:nth-child(2){cursor: none;}
#util li:nth-child(2) a{font-weight: 100;}
#util li:nth-child(3) a{color: #ecff91;}
.b #util li:nth-child(3) a{color: #333;}
#gnb{
	float: right;
	width: 400px;
	padding-top: 13px;
}
#gnb li{
	float: left;
	padding-right: 30px;
}
#gnb li a{
	font-size: 15px;
	font-weight: 400;
	color: #fffce4;
}
.b #gnb li a{
	font-size: 15px;
	font-weight: 400;
	color: #757575;
}
.a #gnb li a:hover{
	color: #ecff91;
}
#gnb li a:hover{
	color: #3fc963;
}
#media{
	text-align: center;
}
#media img{
	width: 100%;
}
/*container_1_S*/
#container_1{
	width: 1320px;
	height: 2345px;
	margin: 0 auto;
}
.section_head_txt{
	padding-top: 80px;
	padding-bottom: 60px;
	font-size: 38px;
	font-weight: 700;
	text-align: center;
}
#section_1{/*section_1*/
	height: 840px;
}
#section_1 .section_head_txt{padding-top: 120px;}
#slide_wrap{
	height: 656px;
	background: url(../images/main/feelings_bg.png) no-repeat top center;
	text-align: center;
	position: relative;
}
.pic{
	position: absolute; 
	bottom: 115px; 
	left: 50%;
	margin-left: -250px;
	font-size: 24px;
	font-weight: 400;
	background-color: #fff;
}
.pic img{
	padding-bottom: 25px;
}
.pic_all img{
	margin-bottom: 20px;
}
.pic1{display: none;}
.pic2{display: none;}
.pic3{display: none;}
.pic4{display: none;}
.pic5{display: none;}
#button1{
	height: 33px;
	width: 33px;
	border-radius: 50px;
	position: absolute;
	bottom: 223px;
	left: 205px;
	opacity: 0;
	cursor: pointer;
}
#button2{
	height: 33px;
	width: 33px;
	border-radius: 50px;
	position: absolute;
	bottom: 509px;
	left: 348px;
	opacity: 0;
	cursor: pointer;
}
#button3{
	height: 33px;
	width: 33px;
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 644px;
	opacity: 0;
	cursor: pointer;
}
#button4{
	height: 33px;
	width: 33px;
	border-radius: 50px;
	position: absolute;
	bottom: 509px;
	right: 348px;
	opacity: 0;
	cursor: pointer;
}
#button5{
	height: 33px;
	width: 33px;
	border-radius: 50px;
	position: absolute;
	bottom: 223px;
	right: 205px;
	opacity: 0;
	cursor: pointer;
}
#section_2{/*section_2*/
	height: 725px;
}
#chat_wrap{
	height: 560px;
	width: 600px;
	float: left;
	margin-left: 60px;
	position: relative;
}
#character_wrap{
	height: 560px;
	width: 555px;
	float: right;
	margin-right: 60px;
}
.chat{
	height: 380px;
	overflow: auto;
	background-color: #fff;
}
.chat_text{
	font-size: 16px;
	font-weight: 400;
	padding: 10.505px 24px;
	margin-top: 25px;
}
.box_1{background: url(../images/main/talk_box_left_1.png) no-repeat top left; margin-top: 30px;}
.box_2{background: url(../images/main/talk_box_left_2.png) no-repeat top left; margin-bottom: 30px;}
.keyword{padding-top: 15px; padding-left: 14px;}
.keyword li{
	float: left;
	padding: 7px 13px 7px 0;
}
.keyword li a{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	border: #c1c1c1 1px solid;
	border-radius: 100px;
	padding: 11px;
}
.keyword li a:hover{
	background-color: #57e578;
	border: #57e578 1px solid;
	color: #fff;
}
.chat_input input{
	margin-top: 8px;
	border: #c1c1c1 1px solid;
	border-radius: 20px;
	width: 570px;
	height: 55px;
	outline-style: none;
	padding: 0 20px;
}
.chat_input input::placeholder{
	color: #c1c1c1;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Noto Sans KR', sans-serif;
}
.send_btn{
	position: absolute;
	bottom: 123px;
	right: 40px;
}
.character{
	height: 145px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	line-height: 1.5em;
	margin-bottom: 15px;
}
.box_gr li:nth-child(1){
	height: 145px;
	width: 370px;
	float: left;
	padding-top: 43px;
	padding-left: 43px;
	background: url(../images/main/talk_box_gr.png) no-repeat top 22px left;
	box-sizing: border-box;
}
.box_gr li:nth-child(2){
	float: right;
}
.box_wh li:nth-child(1){
	float: left;
}
.box_wh li:nth-child(2){
	height: 145px;
	width: 372px;
	float: right;
	padding-top: 40px;
	padding-left: 65px;
	background: url(../images/main/talk_box_wh.png) no-repeat top 18px left;
	color: #333;
	box-sizing: border-box;
}
#section_3{/*section_3*/
	height: 780px;
}
#notice{
	height: 616px;
	width: 450px;
	float: left;
	margin-left: 60px;
}
#doctors{
	height: 616px;
	width: 810px;
	float: right;
	background: url(../images/main/doctors_illustration.png) no-repeat top 30px right;
	position: relative;
}
#notice li h3{
	font-size: 40px;
	font-weight: 900;
	color: #57e578;
	padding: 10px 0 20px;
}
#notice li p{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 4px;
}
#notice li:nth-child(1) p{
	background: url(../images/main/highlighter_1.png) no-repeat bottom left 8px;
}
#notice li:nth-child(2) p{
	background: url(../images/main/highlighter_2.png) no-repeat bottom right 75px;
}#notice li:nth-child(3) p{
	background: url(../images/main/highlighter_3.png) no-repeat bottom right 82px;
}
.notice_list{
	list-style: disc;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7em;
	padding-top: 10px;
	padding-left: 25px;
}
#notice> li:nth-child(2){padding: 60px 0;}
.section_3_btn a{
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #57e578;
	border: #57e578 2px solid;
	border-radius: 100px;
	background-color: #fff;
	padding: 15px 26px;
	position: absolute;
	bottom: 130px;
	right: 75px;
}
/*middle_banner_S*/
#mid_banner_wrap{
	height: 300;
	background: url(../images/main/mid_banner_bg.jpg) repeat center;
}
.mid_banner{
	width: 1320px;
	height: 300px;
	margin: 0 auto;
	background: url(../images/main/mid_banner_1320px.png) no-repeat center;
	position: relative;
}
.google_btn{
	position: absolute;
	bottom: 45px;
	right: 220px;
	cursor: pointer;
}
.apple_btn{
	position: absolute;
	bottom: 45px;
	right: 90px;
	cursor: pointer;
}
/*container_2_S*/
#container_2{
	width: 1320px;
	height: 1748px;
	margin: 0 auto;
}
#section_4{/*section_4*/
	height: 918px;
}
#section_4 .section_head_txt{
	padding-top: 120px;
}
.mobile_icon_wrap_1{
	width: 523px;
	height: 714px;
	float: left;
	padding-top: 170px;
}
.mobile_icon_wrap_2{
	width: 523px;
	height: 714px;
	float: left;
	padding-top: 170px;
}
.mobile_icon{
	width: 523px;
	overflow: hidden;
	padding: 25px 0 30px 60px;
}
.mobile_icon p{
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4em;
}
.mobile_icon span{
	font-size: 16px;
	font-weight: 400;
}
.mobile_icon li{
	float: left;
}
.mobile_icon li:nth-child(2){
	padding: 24px 20px;
}
.swiper{/*swiper*/
	width: 274px;
	height: 690px;
	float: left;
	margin-top: 15px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
}
.swiper-slide img {
	display: block;
	width: 100%;
}
#section_5{/*section_5*/
	height: 830px;
}
#section_5 .section_head_txt{
	padding-bottom: 80px;
}
.hashtag_wrap{
	text-align: center;
	padding-bottom: 55px;
}
.hashtag{
	display: inline-block;
	background: #57e578;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding: 12px 30px;
	border-radius: 100px;
}
.gallery{
position: relative;
}
.review_head_txt{
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: #4cd36b;
}
.review_txt{
	font-size: 14px;
	padding-top: 15px;
	text-align: left;
}
.reviewer{
	font-size: 14px;
	color: #777;
	position: absolute;
	bottom: 25px;
	right: 25px;
}
.section_5_btn_wrap{
	text-align: center;
	padding-top: 120px;
}
.section_5_btn a{
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	color: #4cd36b;
	border-radius: 100px;
	background-color: #fffbe6;
	padding: 20px 110px;
}
/*footer_S*/
#footer_wrap{
	height: 220px;
	border-top: #eeeeee 1px solid;
}
#footer{
	width: 1320px;
	margin: 0 auto;
	padding-top: 30px;
}
.info_wrap{
	float: left;
}
.footer_logo{
	color: #aaa;
	font-size: 13px;
	font-weight: 500;
	padding-bottom: 10px;
}
.footer_logo img{
	width: 43.19px;
}
.info li{
	float: left;
	padding-right: 12px;
	padding-bottom: 15px;
}
.info li a{
	color: #aaa;
	font-size: 13px;
	font-weight: 400;
}
.info li a:hover{
	color: #666;
}
.footer_text{
	clear: both;
	font-size: 10px;
	font-weight: 200;
	line-height: 20px;
	color: #bbb;
}
.footer_icon_wrap{
	position: relative;
}
.footer_icon{
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}
.footer_icon li{
	float: left;
	padding-left: 10px;
}
.footer_icon_a img{
	background-color: #fff;
}
.footer_icon_a a:hover{
	opacity: 0;
}


